
<div class="row" id="conteneur">
    <div class="col">
        <h2><span style="color:dark;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Je suis</span> <span class="" style="color:darkorange"><strong> KONAN KOUAME AIME FABRICE</strong></span></h2>
        <h4><strong> <span class="an-1" style="color:dark;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><strong> DATA SCIENTIST, DEVELOPPEUR WEB ET MOBILE</strong></span></strong></h4>
        <h5 style="color:dark;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> Actuellement étudiant en <span style="color:dark;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><strong> MASTER INTELLIGENCE ARTIFICIELLE ET BIG DATA </strong></span>. Diplômé d’une <span style="color:dark;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><strong> LICENCE PROFESSIONNELLE</strong></span> en systèmes informatiques et génie logiciel, j’ai acquis diverses compétences grâce à ma formation et à mes activités.</h5>
        <h5 style="color:dark;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><strong>Trouvez moi sur:</strong> </h5>
        
    </div>
    <div class="col">
        <div class="conteneur1">
            <img src="assets\Images\present.jpg" alt="" style="width: 80%;">
            
           
        </div>
    </div>
</div>
