<div class="conteneur">
            
            <div class="conteneur1">
             
                <h3 ><strong> <span style="color:darkorange;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><mat-icon >important_devices </mat-icon></span> <span style="color:dark;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Developpeur web et mobile</span> </strong></h3><br>
                
                J'ai de solides compétences en développement web e
                t mobile grace a mes années de formations a l'ESATIC 
                et a mes travaux de recherches de dures labeurs.
                Ces compétences m'ont permis d'etre solicité par 
                des personnes tierses et des entités organisationnelles. <br><br>

            </div>
            <div class="conteneur1">
                <h3 ><strong> <span style="color:darkorange;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><mat-icon>donut_large</mat-icon></span> <span style="color:dark;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Data scientist</span> </strong></h3><br>
                <br>
                Je suis un Data scientist junior sans réelles expériences. Cependant je suis pationné par ce domaine qui est plein éssort <br><br><br><br>
               
            </div>
            <div class="conteneur1">
                <h3 ><strong> <span style="color:darkorange;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><mat-icon>settings_input_antenna</mat-icon></span> <span style="color:dark;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Freelancer</span> </strong></h3><br>
                Je fais du freelance depuis plus de 2 ans maintenat. J'ai donc une expérience poussé dans cette manière de travailler <br><br><br><br><br>
                
            </div>
       
   
</div>