<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/Images/icone.jpeg"
  />
  <span>KONAN FABRICE</span>
    <div class="spacer"></div>
    <div id="bar">
        <a routerLink="/" style="color:aliceblue">ACCUEIL</a>
        <a routerLink="#" style="color:aliceblue">ACTIVITES</a>
        <a href="#" style="color:aliceblue">RESUME</a>
        <a href="#" style="color:aliceblue">PORTFOLIO</a>
        <a href="#" style="color:aliceblue">CONTACT</a>
        
    </div> 
      <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
      </svg>
   
</div>
  <header>
    <Pre>.</Pre>
  </header>
  <div >
  <br><br><br><br><br>

  <app-presentation-component></app-presentation-component>
  <br>
  <div class="trait"></div>
  <h2 class=""style="color:darkorange;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Activités</h2>
  <app-activity></app-activity><br>
  <div class="trait"></div>
  <h2 class=""style="color:darkorange;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Resumé</h2>
  <h2 class=""style="color:dar;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><strong> Mon resumé</strong></h2>
  <app-resume>
    
  </app-resume>
  <div class="trait"></div><br><br>

  <h2 class=""style="text-align: center;color:darkorange;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Certificats</h2>
  <h2 style="text-align: center;"><strong> <span style="color:darkorange;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><mat-icon >important_devices </mat-icon></span> <span style="color:dark;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Mes certificats</span> </strong></h2><br>
  <app-certificat></app-certificat>
  <div class="trait"></div><br><br>
  <h2 class=""style="text-align: center;color:darkorange;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Contact</h2>
  <h2 style="text-align: center;"><strong> <span style="color:darkorange;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><mat-icon >important_devices </mat-icon></span> <span style="color:dark;text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Contactez-nous</span> </strong></h2><br>
  <app-contact></app-contact>
  <p>
    <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" style="float:right">
      <mat-icon>bookmark</mat-icon>
    </button>
  </p>
</div>
  <footer>
  </footer>