<div>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Formation">
          <div class="example-large-box mat-elevation-z4">
            Formation
          </div>
        </mat-tab>
        <mat-tab label="Compétences">
          <div class="example-large-box mat-elevation-z4">
            Compétences
          </div>
        </mat-tab>
        <mat-tab label="Expériences">
          <div class="example-large-box mat-elevation-z4">
            Expériences
          </div>
        </mat-tab>
      </mat-tab-group>
      
      
</div>
